/Codice/__pycache__

/Scritto/Testa/*
!/Scritto/Testa/*.tex
!/Scritto/Testa/*.pdf
/Scritto/Esperimenti/*

/Scritto/Riferimenti

/Figure
/Riferimenti

/Dati/Limiti1991.zip
/Dati/ISTAT Popolazione e abitazioni 1991 {04-12-2025}.pdf